<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Dynamic Messages Using ThymeLeaf Template</title>
</head>

<body>

    <hr/>

    <table align="center">
        <tr><td><img  th:src="@{images/icons8-spring-16.png}" alt="Unable to render" /><br><br></td> </tr>
        <tr><td>
            <div><I> <span th:text="${txtMessage}"></span><br><br> </I>
      </div> </td>
        </tr>
        <tr> <td> Repository: <a href="https://github.com/GirijaGopinath/myrepo">https://github.com/GirijaGopinath/myrepo</a> </td></tr>

    </table>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>